.form .button{
    background-color: #512E5F;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 15px;
    
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    
}

.form div{
    padding: 10px;
}
.form div input{
    margin-left: 10px;
}
.form .button{
    margin-left: 40%;
}

.form .register{
    background-color: #512E5F;
    border: none;
    text-decoration: none;
    color: white;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 8px;
    border-radius: 15px;
}
